@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Flamenco", cursive;
}
h4 {
  color: rgb(0, 0, 0);
  font-size: 16px;
}
h4:hover {
  color: rgb(255, 255, 255);
}
.toggle-button {
  color: #ffffff;
  border: none;
  background: transparent;
  padding: 0 12px;
  margin: 12px;
  font-size: 30px;
}
.sidebar {
  font-size: 20px;
  margin-top: -50px;
  display: grid;
  padding: 12px 20px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 60px;
  transition: var(--transition);
  transform: translate(-100%);
  width: 30vh;
  height: 95vh;
  backdrop-filter: blur(12px);
  border-radius: 0 10px 10px 0;
  transition-duration: 900ms;
  background-color: rgba(0, 0, 0, 0.228);
  border: 1px solid white;
}
.sidebar-visible {
  transition-duration: 200ms;
  transform: translate(0);
}
.links li a {
  color: aliceblue;
  text-decoration: none;
  padding: 10px 60px;
  margin: 0px;
}
.links li:hover a {
  background-color: #ffffff;
  color: black;
  border-radius: 12px;
}
.social-media-links li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 15px;
}
.social-media-links li a:hover {
  background-color: #ffffff;
  color: black;
  border-radius: 12px;
}

ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.links ul {
  display: grid;
  list-style-type: none;
  grid-gap: 40px;
}

.social-media-links ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  background: transparent;
  justify-content: center;
  align-items: center;
}
.sidebar-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  backdrop-filter: blur(12px);
  background-color: #ffffff4a;
}
body {
  background-image: url(/planets.jpg);
  background-repeat: no-repeat;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.sidebar-toggle {
  margin: 2px;
}
.size {
  color: #ffffff;
  border: none;
  background: transparent;
  padding: 0 12px;
  font-size: 25px;
}
.size:hover {
  color: rgb(10, 9, 9);
}
.icon {
  margin-right: 12px;
}
